
nav { 

    padding: 10px; 

} 

 

.roboto { 

    font-family: 'Roboto', sans-serif; 

} 

nav div ul { 

    text-align: center; 

} 

ul li { 

    display: inline-block; 

    padding: 0 5em; 

} 

 

 nav div a { 

     text-decoration: none; 

     color: #000; 

 } 

 

 nav div a:visited { 

    color: #000; 

 } 
 .dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -20px;
  background-color: yellow;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content ul {
  list-style: none;
}

.dropdown-content ul li {
  margin: 0;
  left: 0;
}
 .dropdown-content ul li a {
  line-height: 235%;
  letter-spacing: 0.04em;
  color: black;
  padding: 0 16px;
  text-decoration: none;
  display: block;
  font-size: 1.2em;
 }
 .dropbtn {
  border: none;
  background: none;
  cursor: pointer;
  line-height: 165%;
  letter-spacing: 0.04em;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

 
 
 
 nav div a:hover { 

     color: #ffe400; 

 } 

 

 main article div { 

     border: 0.1em solid #000; 

     width: 70%; 

     margin: 20px auto; 

     box-shadow: 5px 5px; 

 } 

 

 main article p { 

     font-family: 'Pt Sans Caprion', sans-serif; 

     text-align: center; 

     padding: 25px; 

     font-size: 95%; 

 } 

 

 .important { 

     background-color: #ffe400; 

     font-weight: bold; 

 } 

 

 #header { 

     position: relative; 

     width: 100%; 

     height: 150px; 

     background: linear-gradient(45deg, #ffe400, #ffffff); 

 } 

 

 #header h1 { 

     position: absolute; 

     top: -70%; 

     left: -0.5%; 

     font-size: 10em; 

     letter-spacing: 0.1em; 

 } 

 

 ::-webkit-scrollbar { 

    background-color: #e0dfd3; 

    width: 10px; 

} 

 

::-webkit-scrollbar-thumb { 

    background: #000; 

    border-radius: 10px; 
}

.form {		
		border-radius: 2px;
		background-color: #f2f2f2;
		padding: 10px;
		width:25%;
	}
	label {
		padding:10px;
		margin:6px;
	}
	input{
		padding:4px;
		margin:6px;
	}
	.check{
		padding:4px;
		margin-left:6px;		
	}
	textarea {
	  padding:4px;
	  padding-bottom:0;
	  width: 95%;
	  margin: 6px;
	  border: 1px solid #DA3434; 
	}
		
		